.container {
  padding: 20px 180px 50px 180px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.activityWrapper {
  width: calc(66.7% - 20px);
  height: fit-content;
}

.activityFilter {
  margin-left: 20px;
  width: calc(33.3%);
  height: fit-content;
  border-radius: 12px;
  box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
}

.activityHeader {
  width: 100%;
  height: 80px;
  box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
  background: darkblue;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
}

.filterHeader {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 2px solid #b9b1b1;
}

.filterContent {
  padding: 10px 20px;
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filterButton {
  border-radius: 30px;
  border: 1px solid rgb(129 84 84 / 10%);
  margin: 6px;
  list-style: none;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  &:hover {
    background-color: darkblue;
    color: white;
  }
}

.userAvatar {
  width: 160px;
  height: 160px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeFilter {
  background-color: darkblue;
  color: white;
}

.activityCard {
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
  // background-color: #ededed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
}

.activityImage {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  border-radius: 15px;
  border: 1px solid rgb(129 84 84 / 10%);
}

.activityName {
  font-size: 24px;
  font-weight: 600;
}

.activityInfo {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 300;
}

.operatorLink {
  text-decoration: none;
}

.loadmoreBtn {
  margin-top: 30px;
  font-size: 18px;
  padding: 10px 30px;
  background-color: darkblue;
  color: white;
  width: fit-content;
  border-radius: 50px;
  cursor: pointer;
}

.bannerSection {
  margin-top: 70px;
  position: relative;
}

.backgroundImg {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 100px 10px 50px 10px;
    // width: calc(100% - 20px);
  }

  .activityWrapper {
    width: 100%;
    height: fit-content;
  }

  .activityFilter {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
    height: fit-content;
    border-radius: 3px;
    box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
  }
}
