.firstClockWrapper {
  // width: fit-content;
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  font-size: 16px;
  border-radius: 99px;
}

.secondClockWrapper {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
