.calendarAboveInput .rdtPicker {
	vertical-align: middle !important;
	bottom: 60px;
}

.common_formInputCont__2_3-X table {
	table-layout: auto !important;
}

.common_formInputCont__2_3-X th,
td {
	padding: 0 !important;
}

.common_formInputCont__2_3-X table,
th,
td {
	border: none !important;
}